<div class="row">
  <div class="col-md-2" >
    <div
      class=" text-left border-bottom  flex-column table-border"
      id="v-pills-tab"
      role="tablist"
      aria-orientation="vertical"
      *ngFor="let item of messagesItems"
    >
      <a
        class="nav-link "
        id="v-pills-home-tab"
        data-toggle="pill"
        routerLink="{{item}}"
        role="tab"
        aria-controls="v-pills-home"
        aria-selected="true"
  
        >{{ item | uppercase }}</a
      >
    </div>
  </div>
  <div class="col-md-10">
    <router-outlet></router-outlet>
  </div>
</div>
